<h1> To Do </h1>

<%=link_to 'New Task', new_task_path %>
</br>

<table>
  <tr>
<th> Content </th>
<th> State </th>
  </tr>

  <% @to_do.each do |task|  %>  <!-- must match at tasks controller -->
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task_path(task) %> </td>
        <td><%= link_to 'Edit', edit_task_path(task) %> </td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you Sure?"} %> </td>
      </tr>
      <%end%>
</table>

<h1> Doing </h1>


</br>

<table>
  <tr>
<th> Content </th>
<th> State </th>
  </tr>

  <% @doing.each do |task|  %> <!-- must match at tasks controller -->
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task_path(task) %> </td>
        <td><%= link_to 'Edit', edit_task_path(task) %> </td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you Sure?"} %> </td>
      </tr>
      <%end%>
</table>

<h1> Done </h1>


</br>

<table>
  <tr>
<th> Content </th>
<th> State </th>
  </tr>

  <% @done.each do |task|  %>  <!-- must match at tasks controller -->
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task_path(task) %> </td>
        <td><%= link_to 'Edit', edit_task_path(task) %> </td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you Sure?"} %> </td>
      </tr>
      <%end%>
</table>
