<h1> To Do </h1>

<%=link_to 'New Task', new_task_path %>
</br>

<table>
  <tr>
<th> Content </th>
<th> State </th>
<th colspan = "4"> </th>
  </tr>

  <% @to_do.each do |task|  %>  <!-- must match at tasks controller -->
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task_path(task) %> </td>
        <td><%= link_to 'Edit', edit_task_path(task) %> </td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you Sure?"} %> </td>
        <td><%= link_to 'Mark as Doing', change_task_path(task, state: "doing"), method: :put  %> </td> <!-- 17 -->
      </tr>
      <%end%>
</table>

<h1> Doing </h1>


</br>

<table>
  <tr>
<th> Content </th>
<th> State </th>
<th colspan = "5"> </th>
  </tr>

  <% @doing.each do |task|  %> <!-- must match at tasks controller -->
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task_path(task) %> </td>
        <td><%= link_to 'Edit', edit_task_path(task) %> </td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you Sure?"} %> </td>
        <td><%= link_to 'Mark as To Do', change_task_path(task, state: "to_do"), method: :put  %> </td><!-- 17 -->
        <td><%= link_to 'Done', change_task_path(task, state: "done"), method: :put  %> </td><!-- 17 -->
      </tr>
      <%end%>
</table>

<h1> Done </h1>


</br>

<table>
  <tr>
<th> Content </th>
<th> State </th>
<th colspan = "4"> </th>
  </tr>

  <% @done.each do |task|  %>  <!-- must match at tasks controller -->
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task_path(task) %> </td>
        <td><%= link_to 'Edit', edit_task_path(task) %> </td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you Sure?"} %> </td>
        <td><%= link_to 'Mark as Doing', change_task_path(task, state: "doing"), method: :put  %> </td><!-- 17 -->
      </tr>
      <%end%>
</table>
