<h1> Showing Task </h1>

<strong> Content: </strong> <%= @task.content %>

<strong> Status: </strong> <%= @task.state %>

<p>

<%= link_to 'Go Back to New Task' , new_task_path %>|
<%= link_to 'Go Back to Edit Task' , edit_task_path(@task) %>
<%= link_to 'Show all Task' , tasks_path %>|

</p>
